* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(0,0,0,0.8);
  border-bottom: 1px solid rgba(0,255,100,0.2);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-section img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.logo-section h1 {
  color: #22c55e;
}

.vendor-btn {
  background: #22c55e;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  padding: 80px;
}

.hero-left {
  max-width: 1400px;
}

.tag {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(0,255,100,0.2);
  padding: 12px 20px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 30px;
}

.hero h2 {
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.hero p {
  color: #ccc;
  font-size: 20px;
  line-height: 1.8;
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.buttons button {
  padding: 16px 28px;
  border-radius: 18px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: rgba(255,255,255,0.08);
  color: white;
  transition: 0.3s;
}

.buttons button:hover {
  transform: translateY(-4px);
  background: #22c55e;
}

.content-box {
  margin-top: 40px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.quote-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top: 25px;
}

.quote-grid input {
  background: #111;
  border: 1px solid rgba(255,255,255,0.1);
  padding: 16px;
  border-radius: 16px;
  color: white;
}

.submit-btn {
  margin-top: 20px;
  background: #22c55e;
  border: none;
  padding: 14px 24px;
  border-radius: 14px;
  cursor: pointer;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
  margin-top: 30px;
}

.product-card {
  background: #111;
  padding: 30px;
  border-radius: 25px;
  border: 1px solid rgba(0,255,100,0.2);
}

.product-card h4 {
  margin-bottom: 20px;
  color: #22c55e;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-top: 30px;
}

.about-card {
  padding: 40px;
  border-radius: 30px;
}

.green {
  background: #111;
  border: 1px solid rgba(0,255,100,0.2);
}

.orange {
  background: #111;
  border: 1px solid rgba(255,120,0,0.2);
}

.about-card h4 {
  font-size: 40px;
  margin-bottom: 30px;
}

.about-card p {
  margin-bottom: 25px;
}
